<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
      http://www.springframework.org/schema/security
      http://www.springframework.org/schema/security/spring-security-3.0.xsd">

	<security:http use-expressions="true">
		<security:intercept-url pattern="/public" access="permitAll" />
		<security:intercept-url pattern="/css/**" filters="none" />
<!-- 		<security:intercept-url pattern="/auth/doctor" access="HASROLE('ROLE_DOCTOR')" /> -->
		<security:intercept-url pattern="/auth/admin" access="ROLE_ADMIN" />
		<security:intercept-url pattern="/auth/doctor" access="ROLE_DOCTOR" />
		<security:intercept-url pattern="/auth/patient" access="ROLE_PATIENT" />
		
		<security:form-login login-page="/public/singin" authentication-failure-url="/public/singin?error=true" default-target-url="/public/main" />
		    
<!-- 		<security:logout invalidate-session="true" logout-success-url="/krams/auth/login" logout-url="/krams/auth/logout"/> -->
		<security:logout invalidate-session="true" logout-url="/public/main"/>
		
	</security:http>

<!-- 	<security:authentication-manager> -->
<!-- 		<security:authentication-provider user-service-ref="customUserDetailsService"> -->
<!-- 		    <security:password-encoder ref="passwordEncoder"/> -->
<!-- 			<security:user-service> -->
<!-- 				<security:user name="username" password="password" authorities="ROLE_USER, ROLE_ADMIN" /> -->
<!-- 			</security:user-service> -->
<!-- 		</security:authentication-provider> -->
<!-- 	</security:authentication-manager> -->
	
<!-- Use a Md5 encoder since the user's passwords are stored as Md5 in the database -->
 <bean class="org.springframework.security.authentication.encoding.Md5PasswordEncoder" id="passwordEncoder"/>
 
 <!-- A custom service where Spring will retrieve users and their corresponding access levels  -->
<!--  <bean id="customUserDetailsService" class="com.petercartagena.logincontrolapp.service.CustomUserDetailsService"/> -->
  

</beans>