* {
	font-family: Lucida Sans, Arial, Helvetica, sans-serif;
}

body {
	margin: 0 auto;
	padding: 22px 0;
	width: 940px;
	height: 800px;
	/*TODO BORRAR*/
	/* 	border: 1px solid #FF0000; */
	/*************/
	font: 13px/22px Helvetica, Arial, sans-serif;
	background: #F0F0F0;
}

header h1 {
	font-size: 36px;
	margin: 0px;
}

header h2 {
	font-size: 18px;
	padding-top: 10px;
	margin: 0px;
	color: #888;
	font-style: italic;
}

/*------------------------------
=NAVIGATION
------------------------------*/
nav {
	position: absolute;
	left: 0;
	width: 100%;
	height: 40px;
	/* 	background: url("nav_background.png"); */
	background: #213F52;
}

nav ul {
	margin: 0 auto;
	width: 940px;
	list-style: none;
}

nav ul li {
	float: left;
}

nav ul li a {
	display: block;
	margin-right: 20px;
	width: 80px;
	font-size: 14px;
	line-height: 44px;
	text-align: center;
	text-decoration: none;
	color: #777;
}

nav ul li a:hover {
	color: #fff;
}

nav ul li.selected a {
	color: #fff;
}

nav ul li.subscribe a {
	margin-left: 22px;
	padding-left: 33px;
	text-align: left;
	/* 	background: url("rss.png") left center no-repeat; */
}

/*------------------------------
=INTRODUCTION
------------------------------*/
#intro {
	position: relative;
	margin-top: 66px;
	padding: 44px;
	background: #4D4B23 url("intro_flowers.png") repeat-x;
	/* Background-size not implemented yet */
	-webkit-background-size: 100%;
	-o-background-size: 100%;
	-khtml-background-size: 100%;
	/* Border-radius not implemented yet */
	-moz-border-radius: 22px;
	-webkit-border-radius: 22px;
}

#intro h2,#intro p {
	position: relative;
	z-index: 9999;
	width: 336px;
}

#intro h2 {
	padding: 0 0 22px 0;
	font-weight: normal;
	color: #fff;
}

#intro p {
	padding: 0;
	color: #CDC75D;
}

#intro img {
	position: absolute;
	top: 0;
	right: 0;
	width: 653px;
	height: 100%;
	/* Border-radius not implemented yet */
	-moz-border-radius: 22px;
	-webkit-border-radius: 22px;
}

/*------------------------------
=CONTACT
------------------------------*/
#contact {
	position: relative;
	margin-top: 0px;
	padding: 20px;
/* 	background: #FFFFFF url("intro_background.png") repeat-x; */
	/* Background-size not implemented yet */
	-webkit-background-size: 100%;
	-o-background-size: 100%;
	-khtml-background-size: 100%;
	/* Border-radius not implemented yet */
	-moz-border-radius: 22px;
	-webkit-border-radius: 22px;
	width: 100%;
	height: 10%;
/* 	border: 1px solid #FF0000; */
}

#contact h2,#contact p {
	position: relative;
	z-index: 9999;
	width: 100%;
}

#contact h2 {
	padding: 0 0 0 0;
	font-weight: normal;
	color: #11222D;
}

#contact h3 {
	padding: 0 0 0 0;
	font-weight: normal;
	font: bold;
	color: #11222D;
}

#contact p {
	padding: 0;
	color: #CDC75D;
}

/*------------------------------
=FOOTER
------------------------------*/
footer {
	position: absolute;
	left: 0;
	width: 100%;
	background: #11222D;
}

footer div {
	display: table;
	margin: 0 auto;
	padding: 44px 0;
	width: 940px;
	color: #777;
}

footer div section {
	display: table-cell;
	width: 300px;
}

footer div #about,footer div #blogroll {
	padding-right: 20px;
}

footer h3 {
	color: #FFF;
}

footer a {
	color: #999;
}

footer a:hover {
	color: #FFF;
	text-decoration: none;
}

footer ul {
	margin: 0 0 0 40px;
	list-style: square;
	color: #565656;
}

footer ul li a {
	display: block;
}